body {
  font-family: helvetica, arial, 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h3 {
  color: #5D4178;
}

.num {
  z-index:1;
  font: normal 100px/150% helvetica, arial, 'sans-serif';
  color: #575757;
  transform: translate(20px, -108px);
  position: absolute;
}

.img {
  width: 400px;
  cursor: pointer;
  padding: 10px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.32);
 box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.32);
}

.img:hover {
  opacity: 0.9;
  transform: scale(1.01, 1.01);
}

.img:active {
  transform: scale(0.99, 0.99);
}

.name {
  text-align: center;
  font-size: 25px;
  margin: 1px 10px;
  font: normal 20px/150% helvetica, arial, 'sans-serif';
}